.back-to-top {
  background-color: transparent;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.topBtn {
  height: 50px;
  width: 45px;
}
