<section id="projects">
  <h2>OUR PROJECTS</h2>
  <div class="underscore"></div>
  <div style="padding-bottom: 1%;" *ngFor="let projects of projectsGroups" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
    <mat-card class="card" fxFlex="20%" tabindex="0" *ngFor="let project of projects">
      <mat-card-header>
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <p><span octicon="repo" width="16"></span> {{project.name}}</p>
          </mat-card-title>
          <mat-card-subtitle>
            <span *ngIf="project.language">{{project.language}}</span>
            <span *ngIf="project.language && project.license"> | </span>
            <span *ngIf="project.license" octicon="law" width="16" color="grey" matTooltip="{{project.license.name}}"></span>
          </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxFlex="30%">{{project.description}}</mat-card-content>

      <mat-card-actions></mat-card-actions>

      <mat-card-footer class="card-footer">
        <p>
          Last update : {{project.updated_at | date}}
          <a *ngIf='!project.private && project.html_url' [href]='project.html_url' target='_blank' class="right" octicon="mark-github" width="16" color="black"></a>
        </p>
        <!--<p>Created at {{project.created_at | date}}</p>-->

      </mat-card-footer>
    </mat-card>
  </div>
</section>
