<section id="about-us">
  <h2>ABOUT US</h2>
  <div class="underscore"></div>
  <div class="flex-row align-items-center">
    <p>SpaceY is a public Belgian organization that focuses on delivering opensource projects based on new technologies.</p>
    <p> These projects are from different areas, answer or redefine different needs and spontaneously break implicit standards in order to show the developer community</p>
    <p> that we can still improve current applications but also create new things !</p>
    
  </div>
</section>
