<section id="about-us">
  <h2>ABOUT US</h2>
  <div class="underscore"></div>
  <div class="flex-row align-items-center">
    <p>SpaceY was a public Belgian organization that focuses on delivering opensource projects based on new technologies.</p>
    <p> These projects were from different areas, answer or redefine different needs and spontaneously break implicit standards in order to show the developer community</p>
    <p> that we can still improve current applications but also create new things !</p>
    <p> SpaceY was active during 2 long years between 2019 and 2021. Now the members are most of the time still working on open source but doesn't have time anymore to work on SpaceY.</p>
    
  </div>
</section>
