#about-us {

}

#organigram {
  background-image: url('../../../assets/spacey.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  background-color: transparent;
  height: 650px;
  width: 650px;
}

.text-content {
  width: 350px;
  padding-left: 20px;
}
