<section id="about-us">
  <header>
    <h1>About us</h1>
  </header>
  <div class="container d-flex justify-content-between">
    <div id="organigram"></div>
    <div class="text-content d-flex flex-column align-items-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo modi minima cumque autem doloribus. Repellendus culpa magni explicabo impedit sapiente excepturi soluta corporis quia omnis, alias repudiandae quidem incidunt atque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo modi minima cumque autem doloribus. Repellendus culpa magni explicabo impedit sapiente excepturi soluta corporis quia omnis, alias repudiandae quidem incidunt atque.</p>
      <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo modi minima cumque autem doloribus. Repellendus culpa magni explicabo impedit sapiente excepturi soluta corporis quia omnis, alias repudiandae quidem incidunt atque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo modi minima cumque autem doloribus. Repellendus culpa magni explicabo impedit sapiente excepturi soluta corporis quia omnis, alias repudiandae quidem incidunt atque.</p>-->
    </div>
  </div>
</section>
