.about-us {
  background:#ebedf3;
  color:#343a40;
  padding-bottom: 1%;
}


#organigram {
  display: flex;
  align-content: flex-start;
  background-image: url('../../../assets/spacey.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  background-color: transparent;
  height: 650px;
  width: 650px;
  margin-top: 5%;
}

p{
  text-align: center;
  margin: 1% auto;
}

  
