<section id="about-us">
    <h2>ABOUT US</h2>
    <div class="underscore"></div>
  <div class="flex-row align-items-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo modi minima cumque autem doloribus. Repellendus culpa magni explicabo impedit sapiente excepturi soluta corporis quia omnis, alias repudiandae quidem incidunt atque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo modi minima cumque autem doloribus. Repellendus culpa magni explicabo impedit sapiente excepturi soluta corporis quia omnis, alias repudiandae quidem incidunt atque.</p>
  </div>
</section>
