<section id="members">
  <h2>THE TEAM</h2>
  <div class="underscore"></div>
  <div class='container avatars-container'>
    <a *ngFor='let member of members' target="_blank" [href]="member.html_url">
      <img class='avatar' [src]="member.avatar_url" matTooltip="{{member.login}}">
    </a>

    <p>
      The large majority of members are people who were in a internship at the Microsoft Innovation Center Belgium.
    </p>
    <p>
      We are all fans of new technologies and want to use them for a better world. That's why we are very active in Hackathons for testing them.
    </p>
  </div>
</section>
